@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: #f7f8fa;
  --middle: white;
  --light-gray: #F4F4F4;
  --gray: #808080;
  --dark-gray: #0E0E0E;
  --stroke: #333333;
  --border: #DCDFE4;
  --foreground: black;
  --disabled: #e7e7e7;
}

[data-theme='dark'] {
  --background: black;
  --background-80: #0d0d0ea9;
  --middle: #161617;
  --border: #222222;
  --light-gray: #202020;
  --gray: #808080;
  --stroke: #333333;
  --foreground: white;
  --disabled: #0d0d0e;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}